body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  /* margin-block: 10px; */
  background: transparent;
  margin-block: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5a5f64;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
  background: #4d5055;
}
